<!-- HEADER -->
<fa-view>
    <fa-modifier fa-size="[undefined, 65]" fa-translate="[0,0,100]">
        <fa-surface fa-background-color="'#333333'">
            <div class="clearfix calendarHeader row">
                <div class="btn-group ">
                    <button class="left-btn" ng-click="navigate.prevMotnth()">&lt</button>
                    <div class="month-name">
                        <span>{{currentDate.getMonthName() }}
			    {{currentDate.getFullYear() }}
			        </span>
                    </div>
                    <button class="right-btn" ng-click="navigate.nextMotnth()">&gt</button>
                </div>
            </div>
        </fa-surface>
    </fa-modifier>
</fa-view>
<!-- Week day names render -->
<fa-view>
    <fa-grid-layout fa-options="{dimensions: [7,1]}">
        <fa-modifier fa-size="[undefined, 150]" fa-translate="[0, 65,120]" ng-repeat="name in names" fa-align="[0.4, 0]">

            <fa-surface fa-background-color="'white'" fa-size="[undefined, undefined]" fa-align="[0.5, 0.5]">
                <div class="text-center-40 right" ng-bind="name">                
                </div>
            </fa-surface>
        </fa-modifier>
    </fa-grid-layout>
</fa-view>
<!-- CALENDAR GRID RENDER -->
<fa-view>
        <fa-grid-layout fa-options="{dimensions: [1,9]}">
            <fa-view ng-repeat="week in month ">
                <fa-grid-layout fa-options="{dimensions: [7,7]}">
                    <fa-modifier ng-repeat="day in week" fa-translate="[0, 110, 120]" >
                        <fa-surface fa-background-color="'white'" fa-size="[undefined, undefined]">
                            <div class="cal-month-day" ng-click="showPopup(day)" ng-class="otherDays(day)">
                                <div class="icon-container" ng-repeat="event in day.events">
                                    <i ng-class="iconFunction(event.eventType)"></i>
                                </div>
                                <span data-cal-date="{{day.dateFormatted}}">{{day.date}}</span>
                            </div>
                        </fa-surface>
                    </fa-modifier>
                </fa-grid-layout>
            </fa-view>
        </fa-grid-layout>
</fa-view>

<!-- FOOTER -->
<fa-view>
    <fa-modifier fa-size="[undefined, 20]" fa-align="[0,1]" fa-origin="[0,1]">>
        <fa-surface fa-background-color="'#7f7f7f'"></fa-surface>
    </fa-modifier>
</fa-view>
