<!-- HEADER -->
<fa-view>
    <fa-modifier fa-size="[undefined, 50]" fa-translate="[0,0,100]">
        <fa-surface fa-background-color="'#333333'">
            <div class="clearfix calendarHeader row">
                <div class="btn-group ">
                    <button class="left-btn" data-ng-click="previousMonth()">&lt</button>
                    <div class="month-name">{{currentDate.format('{Month} {yyyy}')}}</div>
                    <button class="right-btn" data-ng-click="nextMonth()">&gt</button>
                </div>
            </div>
        </fa-surface>
    </fa-modifier>
</fa-view>

<!-- Week day names render -->
<fa-view>
    <fa-grid-layout fa-options="{dimensions: [7,1]}">
        <fa-modifier fa-translate="[2, 65, 121]" ng-repeat="name in names" fa-align="[0.5, 0]">
            <fa-surface fa-background-color="'white'" fa-size="[undefined, 40]" fa-align="[0.5, 0.5]" class="right">
                    <div>{{name}}</div>
            </fa-surface>
        </fa-modifier>
    </fa-grid-layout>
</fa-view>

<!-- CALENDAR GRID RENDER -->
<fa-view>
    <fa-grid-layout fa-options="{dimensions: [7,6]}">
        <fa-modifier ng-repeat="day in dates" fa-translate="[0, 110, 0]">
            <fa-surface fa-background-color="'white'"
                        class="cal-month-day full-height" fa-size="[undefined, undefined]"
                        data-ng-click="selectDate(day.date)">
                <div class="cal-month-day-inner" ng-click="showPopup(day)" ng-class="{disabled : day.disabled, today : day.date.isToday()}">
                    <span class="date" ng-bind="day.date.getDate()"></span>
                    <div class="icon-container" ng-repeat="event in day.events">
                        <i ng-class="iconFunction(event.eventType)"></i>
                    </div>
                </div>
            </fa-surface>
        </fa-modifier>
    </fa-grid-layout>
</fa-view>

<!-- FOOTER -->
<fa-view>
    <fa-modifier fa-size="[undefined, 20]" fa-align="[0,1]" fa-origin="[0,1]">>
        <fa-surface fa-background-color="'#7f7f7f'"></fa-surface>
    </fa-modifier>
</fa-view>
