<!-- HEADER -->
<fa-view>
    <fa-modifier fa-size="[undefined, 65]" fa-translate="[0,0,100]">
        <fa-surface fa-background-color="'#333333'">
            <div class="clearfix calendarHeader row">
                <div class="btn-group ">
                    <button class="left-btn" data-ng-click="previousMonth()">&lt</button>
                    <div class="month-name">
                        <h3 class="label">{{currentDate.format('{Month} {yyyy}')}}</h3>
                    </div>
                    <button class="right-btn" data-ng-click="nextMonth()">&gt</button>
                </div>
            </div>
        </fa-surface>
    </fa-modifier>
</fa-view>
<!-- Week day names render -->

<!-- CALENDAR GRID RENDER -->
<fa-view>
    <fa-grid-layout fa-options="{dimensions: [7,5]}">
                <fa-modifier ng-repeat="item in dates" fa-translate="[0, 110, 120]">
                    <fa-surface fa-background-color="'white'" fa-size="[undefined, undefined]">
                        <div class="cal-month-day" data-ng-class="{disabled:item.disabled, today:item.date.isToday()}" data-ng-click="selectDate(item.date)">
                            <span class="date" ng-bind="item.date.getDate()"></span>
                        </div>
                    </fa-surface>
                </fa-modifier>
    </fa-grid-layout>
</fa-view>

<!-- FOOTER -->
<fa-view>
    <fa-modifier fa-size="[undefined, 20]" fa-align="[0,1]" fa-origin="[0,1]">>
        <fa-surface fa-background-color="'#7f7f7f'"></fa-surface>
    </fa-modifier>
</fa-view>